<div class="card__wrapper-inner col s6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
          <img class="activator card-image" data-imagepreview="{{photos}}" style="min-height: 350px; background-size: cover; background-position: center;">
        </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          Продажа
          <i class="material-icons right">more_vert</i>
        </span>

        <h5>Цена: {{price}}</h5>
        <p>Минск, {{street}}</p>
        <span>{{roomsCount}}</span>
        <span>{{livingArea}}м2</span>
        <span>{{floor}}/{{countOfFloors}} этаж</span>
      </div>

      <div class="card-action">
        <a href="/announcement/sale/{{_id}}">Перейти к объявлению</a>
        {{#if @root.isProfile}}
          <a href="/announcement/sale/edit/{{_id}}">Отредактировать</a>
          <a href="/announcement/sale/remove/{{_id}}">Удалить</a>
        {{/if}}
      </div>

      <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Описание<i class="material-icons right">close</i></span>
          <p>{{description}}</p>
        </div>
    </div>
  </div>