<div class="card__wrapper-inner col s6">
      <div class="card rent__card">
        <div class="card-image waves-effect waves-block waves-light ">
          <img class="activator" src="https://global-uploads.webflow.com/5ef5480befd392489dacf544/5f9f5e5943de7e69a1339242_5f44a7398c0cdf460857e744_img-image.jpeg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            Аренда
            <i class="material-icons right">more_vert</i>
          </span>

          <p>Минск, {{street}}</p>
          <span>{{roomsCount}}</span>
          <span>{{livingArea}} м2</span>
          <span>{{floor}}/{{countOfFloors}} этаж</span>

          {{#if isProfile}}
          {{else}}
          <p><a href="#">Позвонить</a></p>
          {{/if}}
        </div>

        <div class="card-action">
          <a href="#">Перейти к объявлению</a>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Описание<i class="material-icons right">close</i></span>
          <p>{{description}}</p>
        </div>
      </div>
    </div>