<nav>
  <div class="nav-wrapper">
    {{#if isAdmin}}
      <a href="/admin" class="brand-logo">Администрирование</a>
    {{else}}
      <a href="/" class="brand-logo">Риэлторство</a>
    {{/if}}
    
    <ul id="nav-mobile" class="right hide-on-med-and-down">

    {{#if isRents}}
      <li class='active'><a href="/announcement/rents">Арендовать</a></li>
    {{else}}
      <li><a href="/announcement/rents">Арендовать</a></li>
    {{/if}}


    {{#if isSales}}
      <li class='active'><a href="/announcement/sales">Купить</a></li>
    {{else}}
      <li><a href="/announcement/sales">Купить</a></li>
    {{/if}}

    {{#if user}}

      <a class="dropdown-trigger btn" href="#" data-target="dropdown1">{{user.username}}</a>

 
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/announcement/sale">Продать квартиру</a></li>
        <li><a href="/announcement/rent">Сдать в аренду квартиру</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/auth/logout">Выйти</a></li>
      </ul>

    {{else}}



      {{#if isLogin}}
        <li class='active'><a href="/auth#login">Войти</a></li>
      {{else}}
        <li><a href="/auth#login">Войти</a></li>
      {{/if}}

    {{/if}}

    </ul>
  </div>
</nav>
