<div class="card" style="margin-bottom: 30px;">

    <div style="display: flex; align-items: center; justify-content: space-between; padding: 0 30px;">
        <div>
            <p>{{username}}</p>
            <p>{{email}}</p>
            <p>{{phoneNumber}}</p>
        </div>

        {{#if banned}}
        <a class="btn" href="/admin/unbanned/{{_id}}">Разбанить</a>
        {{else}}
        <a class="btn" href="/admin/banned/{{_id}}">Забанить</a>
        {{/if}}

    </div>

</div>