<div id="sale" class="col s10 offset-s1">
  <h1>Продажа квартиры</h1>
  <form action="/announcement/sale/edit" method="POST">

    <div class="input-field">
      <input id="street" name="street" type="text" value="{{sale.street}}" class="autocomplete">
      <label for="street">Улица</label>
      <span class="helper-text" data-error="Введите улицу"></span>
    </div>

    <div id="YMapsID" style="width: 100%; height: 550px;"></div>

    <div class="input-field">
      <input id="totalArea" name="totalArea" type="number" value="{{sale.totalArea}}" class="validate" step="0.01"
        min="1" required>
      <label for="totalArea">Общая площадь</label>
      <span class="helper-text" data-error="Введите общую площадь"></span>
    </div>

    <div class="input-field">
      <input id="livingArea" name="livingArea" type="number" value="{{sale.livingArea}}" class="validate" step="0.01"
        min="1" required>
      <label for="livingArea">Жилая площадь</label>
      <span class="helper-text" data-error="Введите жилую площадь"></span>
    </div>

    <div class="input-field">
      <input id="kitchenArea" name="kitchenArea" type="number" value="{{sale.kitchenArea}}" class="validate" step="0.01"
        min="1">
      <label for="kitchenArea">Площадь кухни</label>
      <span class="helper-text" data-error="Введите площадь кухни"></span>
    </div>

    <div class="input-field">
      <input id="floor" name="floor" type="number" value="{{sale.floor}}" class="validate" min="1">
      <label for="floor">Этаж</label>
      <span class="helper-text" data-error="Введите этаж"></span>
    </div>

    <div class="input-field">
      <input id="countOfFloors" name="countOfFloors" type="number" value="{{sale.countOfFloors}}" class="validate"
        min="1">
      <label for="countOfFloors">Количество этажей</label>
      <span class="helper-text" data-error="Введите количество этажей"></span>
    </div>

    <div class="input-field">
      <textarea id="description" name="description" class="materialize-textarea">{{sale.description}}</textarea>
      <label for="description">Описание</label>
    </div>

    <div class="input-field">
      <input id="price" name="price" type="number" value="{{sale.price}}" class="validate" step="0.01" min="1">
      <label for="price">Цена</label>
      <span class="helper-text" data-error="Цена"></span>
    </div>

    <input type="hidden" value="sale" name="type">
    <input type="hidden" value="{{sale._id}}" name="_id">

    <button type="submit" class="btn btn-primary">Редактировать объявление</button>
  </form>

</div>